﻿
@{
    ViewBag.Title = "Youtube";
}

<h2>Youtube</h2>

<div>

    <a href="http://www.youtube.com/embed/MtaheqdAKVk?autoplay=1">Video Arturito</a>
    
</div>

<div>

    <iframe id="ytplayer" type="text/html" width="640" height="390"
            src="http://www.youtube.com/embed/MtaheqdAKVk?autoplay=1&origin=http://moviereviewsmysql.azurewebsites.net/Home/Youtube"
            frameborder="0" />

    
</div>
