﻿@model MovieReview.Models.MovieReviews

<div>
    
    <span>@Model.ReviewerName</span>
    <span>@Model.ReviewerComments</span>
    <span>@Model.ReviewerRating</span>
    <span>@Html.ActionLink("Edit", "Edit", new { Id = Model.Id })</span>
</div> 