﻿
@model IEnumerable<MovieReview.Models.MovieReviews> 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerName) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerComments) |
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewerRating)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerRating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>