﻿@model MovieReview.Models.Movie

@{
    ViewBag.Title = "Index";
}
<h2>Review for @Model.MovieName</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("_Reviews", Model.reviews) 