﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div> 
        <h1>Vista controlador Movie acción search</h1>  
    </div>
    <div>
        <h3>El nombre a buscar es @ViewData["Message"] </h3>
    </div>
</body>
</html>
